*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    background: linear-gradient(135deg, #153677, #4e085f);
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}
.container{
    margin: 100px auto 0;
    width: 90%;
    max-width: 600px;
    background-color: azure;
    border-radius: 16px;
}
.logo{
    display: flex;
    padding: 20px 50px;
}
.logo h1{
    color: black;
    font-size: 30px;
}
.logo img{
    height: 30px;
    margin-left: 10px;
    margin-top: 3px;
}

.search{
    background-color: #edeef0;
    margin: 0px 50px 20px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    border-radius: 20px;
}
.search input{
    border: none;
    outline: none;
    flex: 1;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    padding: 0 25px;
    font-size: 16px;
    color: #555;
}
.search button{
    padding: 10px 20px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: orange;
    color: azure;
    font-size: 16px;
    cursor: pointer;
}

#listContainer{
    list-style: none;
    padding: 10px 50px 20px;
    font-size: 15px;
    position: relative;
}
ul li{
    padding: 12px 40px 12px 40px;
    position: relative;
    cursor: pointer;
}
ul li::before{
    content: '';
    height: 16px;
    width: 16px;
    background-image: url(./images/unchecked.png);
    position: absolute;
    top: 13px;
    left: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}
ul li.checked{
    text-decoration: line-through;
    color: #555;
}
ul li.checked::before{
    background-image: url(./images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    margin-right: 20px;
    height: 25px;
    width: 25px;
    cursor: pointer;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    padding: 4px;
    font-size: 16px;
}
ul li span:hover{
    background-color: #edeef0;
    color: #555;
}
